
/*profile pic with name*/

header {
  height: 400px;
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #eb8100;
  background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
}

/*myname*/
h2 {
  font-size: 20px;
  font-family: sans-serif;
}





