
nav {
  height: 100px;
  width: 100%;
  padding: 1.5em;
  color: #ffffff;
  position: fixed;
}

/*Tweeter title*/
span.title {
  font-family: Bungee;
  color: #FFFFFF;
  font-size: 24px;
}

/*write new tweet text*/
div.new-tweet {
  color: #FFFFFF;
  font-size: 20px; 
  font-family: sans-serif;
  display: flex;
  justify-content: flex-end;
}

/*red down arrow*/
div.fa-solid.fa-angles-down {
  display: flex;
  justify-content: flex-end;
  padding-right: 2em;
}


