nav {
  height: 120px;
  width: 100%;
  padding: 1.5em;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  font-family: sans-serif;
}

nav span {
  font-family: 'Bungee', sans-serif;
}

.new-tweet {
  font-size: 1.25em; 
  margin: 2em; 
  padding: 1em;
}