/*Blue bar at top*/
nav {
  height: 120px;
  width: 100%;
  padding: 1.5em;
  background-color: #4056A1;
  position: fixed;
}

/*Tweeter title*/
span {
  display: flex;
  font-family: Bungee;
  align-items: flex-end;
  color: #FFFFFF;
}

/*write new tweet text*/
.new-tweet {
  color: #FFFFFF;
  display: flex;        
  font-size: 20px; 
  font-family: sans-serif;
  justify-content: flex-end;
}