
/*What are you humming about?*/
label {
  color:	#545149;
  font-size: 17px;
  font-family: sans-serif;
  display: flex;
  margin: 10px 10px;
}

/*tweet button*/
button {
  border: 2px solid #4056A1;
  border-radius: 5px;
  color:	#ffffff;
  background-color: #4056A1; 
  display: flex;
  justify-content: center;
  margin: 10px 10px;
  font-size: 16px;
  font-family: 'Bungee', sans-serif;
}

/*text line*/
textarea {
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  background-color: transparent;
  width: 90%; 
  height: 30px; 
  font-size: 20px; 
  margin: 10px 10px;
  resize: none; 
}

/*number 140*/
output {
  display: flex;
  justify-content: flex-end;
  color:	#545149;
  font-size: 20px;
  font-family:'Bungee', sans-serif;
  padding: 1.5em;
}
