
.tweet {
  border: 3px solid black;
  border-radius: 10px;
  margin: 10px 0;
  padding: 20px;
}

.tweet:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.over-limit {
  color: red;
}

.tweet-header-text {
  display: flex;
  justify-content: space-between;
}

.tweet-header-text h2 {
  font-size: medium;
}

.tweet-header-text h3 {
  font-size: small;
  color: grey;
}

p {
  border-bottom: solid black;
}
/*time since last tweet*/
.timeago {
  display: flex;
  color:	#545149;
  font-size: 20px;
  font-family:'Bungee', sans-serif;
  margin: 10px 10px;
  align-items: flex-end;
}

/* Footer */
.icons {
  display: flex;
  justify-content: flex-end;
  color: #4056A1;     
  font-size: small;
}

.icons i:hover {
  color: #FFD700;
}