
/*Tweet container */
section.tweets-container {
  margin-top: 20px;
  padding: 10px;
  display: flex;
}

section.tweets-container article.tweet {
  border: 5px solid black;
  border-radius: 10px;
  margin: 10px 0;
  padding: 15px;
}

section.tweets-container article.tweet:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/*image */
header.tweet-header .image img { 
  border-radius: 100%;
  display: flex;
  justify-content: flex-start;
}

header.tweet-header {
  display: flex;
  align-items: center;
  background-color: cornsilk;
  background-image: none;
}
  
header.tweet-header .image {
  margin-right: 10px;
}

header.tweet-header-text {
  color: #545149;   
  display: flex;
  flex-direction: column;
}

header.tweet-header-text h3, header.tweet-header-text span {
  margin: 0;
}

/* Tweet content */
p.tweet-content {
  margin: 10px 0;
  font-size: 16px;
}

/* Footer - icons */
footer.tweet-footer .icons {
  display: flex;
  justify-content: flex-end;
  color: #4056A1;     
  padding: 1.5em;
  font-size: small;
}

footer.tweet-footer .icons i:hover {
  color: #FFD700;
}