/*new tweet box*/
article.tweet header {
  display: flex;
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #000 1px;
  margin: 10px 10px;
}



/*icons*/
icons {
  color: #4056A1;     
  display: flex;
  justify-content: flex-end;
  align-content: center;
}
.icons i:hover {
  color: red;
}

.tweet:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

